<ion-card>
  <ion-img src="assets/triangulo.png" alt="Triángulo"></ion-img>
  <ion-card-header>
    <ion-card-title>Triángulo Escaleno</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-item>
      <ion-label position="floating">Lado A:</ion-label>
      <ion-input type="number" [(ngModel)]="ladoA"></ion-input>
    </ion-item>
    <!-- Repetir para Lado B y C -->

    <ion-button expand="block" (click)="calcularPerimetro()">Calcular</ion-button>

    <ion-item *ngIf="perimetro">
      <ion-label>Perímetro:</ion-label>
      <ion-text>{{ perimetro | number:'1.2-2' }} unidades</ion-text>
    </ion-item>
  </ion-card-content>
</ion-card>